{% extends 'base.html' %}

{% block title %}Agregar Tarea{% endblock %}

{% block content %}
    <h1>Agregar Nueva Tarea</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            {{ formulario.titulo }}
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            {{ formulario.descripcion }}
        </div>
        <div class="mb-3">
            <label for="completada" class="form-label">Completada</label>
            {{ formulario.completada }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'Listado' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
