{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Bienvenido a la Lista de Tareas</h1>
    <p>Esta es la página principal de la aplicación de tareas. Puedes ver y gestionar tus tareas aquí.</p>
    <div class="mb-4">
        <img src="{{ profile.avatar.url }}" alt="Avatar" width="100" height="100" class="img-thumbnail">
        <p>{{ request.user.username }}</p>
    </div>
    <ul class="list-group">
        {% for task in tareas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ task.titulo }} - {{ task.descripcion }} - {% if task.completada %}Completado{% else %}Pendiente{% endif %}
                </span>
                <span>
                   {% comment "" %} <a href="{% url 'Listado' task.id %}" class="btn btn-sm btn-primary">Completar</a>
                    <a href="{% url 'Listado' task.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'Listado' task.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                    {% endcomment %}
                </span>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'Nueva' %}" class="btn btn-success mb-4">Agregar Tarea</a>
{% endblock %}

