{% extends 'base.html' %}

{% block titulo %}Acerca de{% endblock %}

{% block refTitulo %}"/"{% endblock refTitulo %}

{% block tituloNav %}Acerca de{% endblock %}

{% block Contenido %}
    <h1>Acerca de mí y el proyecto </h1>
    <p>Qué tal a todos!</p>
    <p>Mi nombre es Giovanni Francisco Pérez, tengo 23 años y soy de México más específicamente, del Estado de México</p>
    <p>Actualmente estoy laborando en una consultoria en el área de Robots, ahí nos encargamos de desarrollar algoritmos llamdos "robots" 
        encargados de automatizar las tareas que consideren repetitivas nuestros clientes, y el hecho de que me encuentre
        completando este curso es debido a que el software que utilizo está desarrollado en Python lo que me ha permitido 
        aplicar más funcionalidades en base al uso de Python, y que mejor ahora de saber utilizar Django para desarrollar
        aplicaciones web.

        Este proyecto consiste en generar un listado de tareas pendientes conforme se vayan presentando día con día, y que se
        podría utilizar en diferentes áreas desde una tipo agenda para las actividades del hogar, hasta tareas que pudiesen estar
        pendientes en algún área de trabajo. 
    </p>
        </p><p>El proyecto fue creado bajo mi propia perspectiva en mi actual empleo, ya que suelo tener
        muchísimas actividades durante el día o durante la semana, lo que al usar esta aplicación permite tener un control más personal 
        de lo que tengo aún pendiente y de lo que ya he logrado satisfactoriamente completar, y de igual manera tener un control sobre el 
        tiempo entre la fecha de creación y la fecha de conclusión de dichas actividades, y así poder ir reduciendo o apliando mis tiempos
        de acuerdo al tipo de actividad o su dificultad.

        <p>Sin más, espero puedan tener una excelente experiencia al estar utilizando esta aplicación.</p>

{% endblock %}
